/* Stile della pagina */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; /*width e height calcolati in base all'elemento in cui si trova il div*/
}

body {

    background-color: black;
}

/* Stile degli hyperlink */
a {

    text-decoration: none;
    color: white;
}

div.table1{

    display: block;
}

div.table2{

    display: none;
}

/* Stile tabelle */
table {

    position: absolute;
    border-collapse: separate;
    border-spacing: 3px 3px;
    width: 100%;
    bottom:0;
    height:33.3333%;
}

/* celle tabelle */
td {

    color: white;
    background-color: rgba(0,0,0,.80);
    padding: 8px;
    text-align: center;
    width: 100px;
    height: 10px;
}

/* button con padre un td */
td > button {

    background-color: rgba(0, 0, 0, 0);
    font-size: 17px;
    color: white;
    border-style: none;
    cursor: pointer;
}

/* Cella :hover diventa BGC: bianca e text-color del button: black */
td:hover{

    background-color: white;
}

td:hover > button {

    background-color: white;
    color: black;
}

button{

    outline: none;
}


/* Media query */
/* portrait */
@media (max-width: 858px) {

    div.table1 {
        display: none;
    }

    div.table2 {
        display: block;
    }
}


/***Media query SmartPhone***/
/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 860px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

    div.table1 {

        display: none;
    }

    div.table2 {

        display: block;
    }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 860px)
and (-webkit-min-device-pixel-ratio: 4)
and (orientation: portrait) {

    div.table1 {

        display: none;
    }

    div.table2 {

        display: block;
    }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 860px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

    div.table1 {

        display: none;
    }

    div.table2 {

        display: block;
    }
}