/* stile div footer */
.footer-distributed {

    float: left;
    position: relative;
    bottom: 0;
    background-color: rgba(0,0,0,10);
    height: 150px;
    color: #daa520;
    width: 100%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box; /*width e height calcolati in base all'elemento in cui si trova il div*/
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

.footer-distributed .footer-left p {

    color: #8f9296;
    font-size: 14px;
    margin: 0;
}

/* Footer links */
.footer-distributed p.footer-links {

    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

.footer-distributed p.footer-links a {
    display: inline-block; /*elementi in inline e si possono formattare i valori di width e height*/
    line-height: 1.8;
    text-decoration: none;
    color: inherit; /*valore ereditato dal padre*/
    transition: ease .25s; /* transizione sui links */
}

.footer-distributed .footer-links a:before {

    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block; /*elementi in inline e si possono formattare i valori di width e height*/
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {

    content: none;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a {
    display: inline-block; /*elementi in inline e si possono formattare i valori di width e height*/
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
}

/* Effetto di resize elemento quando si verifica l'evento :hover */
.footer-distributed .footer-right a:hover {
    transform:scale(1.1); -webkit-transform:scale(1.1); /*effetti sulle icone dei social network*/
    color: #daa520;
}

.footer-distributed p.footer-links a:hover{
    text-decoration:underline;
    color: #daa520;
}

/* Media Queries */
@media(max-width: 720px){
    .footer-distributed{
        height: 230px;
    }
}

@media (max-width: 600px) {
    .footer-distributed{
        height: 240px;
    }
    .footer-distributed .footer-left, .footer-distributed .footer-right {
        text-align: center;
    }
    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}


/* Smartphone */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 860px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    .footer-distributed{
        height: 240px;
    }
    .footer-distributed .footer-left, .footer-distributed .footer-right {
        text-align: center;
    }
    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}
@media only screen
and (min-device-width: 320px)
and (max-device-width: 860px)
and (-webkit-min-device-pixel-ratio: 4)
and (orientation: portrait) {
    .footer-distributed{
        height: 240px;
    }
    .footer-distributed .footer-left, .footer-distributed .footer-right {
        text-align: center;
    }
    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}
@media only screen
and (min-device-width: 320px)
and (max-device-width: 860px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .footer-distributed{
        height: 240px;
    }
    .footer-distributed .footer-left, .footer-distributed .footer-right {
        text-align: center;
    }
    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}

/***End Footer**/